{% raw %}
name: Build and Push Image

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
{% endraw %}
      HUMANITEC_ORG: ${{ values.orgId | dump }}
      COMPONENT_NAME: ${{ values.componentName | dump }}
{% raw %}

    steps:
      - uses: actions/checkout@v3

      - name: Login to ECR
        id: ecr
        uses: jwalton/gh-ecr-login@v1
        with:
          access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: ${{ secrets.AWS_REGION }}
      - name: Build and Push to ECR
        run: |
          aws ecr describe-repositories --repository-names ${COMPONENT_NAME} || aws ecr create-repository --repository-name ${COMPONENT_NAME}
          docker build . --tag ${{ secrets.ECR_ROOT }}$COMPONENT_NAME:${{github.sha}}
          docker push ${{ secrets.ECR_ROOT }}$COMPONENT_NAME:${{github.sha}}

      - name: Notify Humanitec
        run: |
          curl \
            --request POST "https://api.humanitec.io/orgs/$HUMANITEC_ORG/images/$COMPONENT_NAME/builds" \
            --header "Authorization: Bearer ${{ secrets.HUMANITEC_TOKEN }}" \
            --header "Content-Type: application/json" \
            --data-raw '{ 
                "branch": "'${{github.ref_name}}'",
                "commit": "'${{github.sha}}'",
                "image": "'{% endraw %}${{ values.registryUrl }}/${{ values.componentName }}{% raw %}:${{github.sha}}'",
                "tags": ["'${{github.sha}}'"]
            }'
{% endraw %}