name: Backstage Deploy

on:
  push:
    branches: main

env:
  IMAGE: ${{ secrets.ECR_REGISTRY }}
  REGION: ${{ secrets.AWS_REGION }}

jobs:
  deploy:
    name: Build & Notify Humanitec
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: borales/actions-yarn@v3.0.0
      with:
        cmd: install
    - uses: borales/actions-yarn@v3.0.0
      with:
        cmd: tsc
    - uses: borales/actions-yarn@v3.0.0
      with:
        cmd: build
    - name: Set Tag with SHA
      run: echo "TAG=`echo $GITHUB_SHA | cut -c 1-6`" >> $GITHUB_ENV
    - uses: borales/actions-yarn@v3.0.0
      with:
        cmd: build-image --tag ${{ env.IMAGE }}:$TAG

    - name: Push to ECR
      id: ecr
      uses: jwalton/gh-ecr-push@v1
      with:
        access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: ${{ env.REGION }}
        image: ${{ env.IMAGE }}:$TAG

    - name: Inform Humanitec
      run: |-
        curl \
          --request POST 'https://api.humanitec.io/orgs/${{ secrets.HUMANITEC_ORG }}/images/backstage/builds' \
          --header 'Authorization: Bearer ${{ secrets.HUMANITEC_TOKEN }}' \
          --header 'Content-Type: application/json' \
          --data-raw '{
              "branch": "'$GITHUB_REF_NAME'",
              "commit": "'$GITHUB_SHA'",
              "image": "'$IMAGE:$TAG'",
              "tags": ["'$TAG'"]
          }'

